<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gamecenter.sysmanage.mapper.OaRoleMapper">
    <resultMap id="BaseResultMap" type="com.gamecenter.sysmanage.model.OaRole">
        <id column="roleid" property="roleid" jdbcType="INTEGER"/>
        <result column="rolename" property="rolename" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="info" property="info" jdbcType="VARCHAR"/>
        <result column="pgids" property="pgids" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    roleid, rolename, status, info, pgids
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gamecenter.sysmanage.model.OaRoleExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from oa_role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from oa_role
        where roleid = #{roleid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from oa_role
    where roleid = #{roleid,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.gamecenter.sysmanage.model.OaRoleExample">
        delete from oa_role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.gamecenter.sysmanage.model.OaRole">
    insert into oa_role (roleid, rolename, status, 
      info, pgids)
    values (#{roleid,jdbcType=INTEGER}, #{rolename,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{info,jdbcType=VARCHAR}, #{pgids,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.gamecenter.sysmanage.model.OaRole">
        insert into oa_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleid != null">
                roleid,
            </if>
            <if test="rolename != null">
                rolename,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="info != null">
                info,
            </if>
            <if test="pgids != null">
                pgids,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleid != null">
                #{roleid,jdbcType=INTEGER},
            </if>
            <if test="rolename != null">
                #{rolename,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="info != null">
                #{info,jdbcType=VARCHAR},
            </if>
            <if test="pgids != null">
                #{pgids,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.gamecenter.sysmanage.model.OaRoleExample"
            resultType="java.lang.Integer">
        select count(*) from oa_role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update oa_role
        <set>
            <if test="record.roleid != null">
                roleid = #{record.roleid,jdbcType=INTEGER},
            </if>
            <if test="record.rolename != null">
                rolename = #{record.rolename,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=VARCHAR},
            </if>
            <if test="record.info != null">
                info = #{record.info,jdbcType=VARCHAR},
            </if>
            <if test="record.pgids != null">
                pgids = #{record.pgids,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update oa_role
        set roleid = #{record.roleid,jdbcType=INTEGER},
        rolename = #{record.rolename,jdbcType=VARCHAR},
        status = #{record.status,jdbcType=VARCHAR},
        info = #{record.info,jdbcType=VARCHAR},
        pgids = #{record.pgids,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.gamecenter.sysmanage.model.OaRole">
        update oa_role
        <set>
            <if test="rolename != null">
                rolename = #{rolename,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="info != null">
                info = #{info,jdbcType=VARCHAR},
            </if>
            <if test="pgids != null">
                pgids = #{pgids,jdbcType=VARCHAR},
            </if>
        </set>
        where roleid = #{roleid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.gamecenter.sysmanage.model.OaRole">
    update oa_role
    set rolename = #{rolename,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      pgids = #{pgids,jdbcType=VARCHAR}
    where roleid = #{roleid,jdbcType=INTEGER}
  </update>


    <select id="getRoleList" resultType="com.gamecenter.sysmanage.model.OaRole"
            parameterType="com.gamecenter.sysmanage.model.OaRoleExample">
        select t10.*,t11.unames from (
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from oa_role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        ) t10 left join (
        SELECT t3.roleid,GROUP_CONCAT(t3.uname) as unames FROM (
        SELECT t1.uid,t1.uname,t2.roleid from oa_user t1 LEFT JOIN oa_user_permit t2 on t1.uid = t2.uid
        ) t3 where t3.roleid is not NULL GROUP BY t3.roleid
        ) t11 on t10.roleid = t11.roleid
    </select>
</mapper>