<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gamecenter.mapper.OpOperatorMapper" >
  <resultMap id="BaseResultMap" type="com.gamecenter.model.OpOperator" >
    <id column="optid" property="optid" jdbcType="INTEGER" />
    <result column="opcode" property="opcode" jdbcType="VARCHAR" />
    <result column="optname" property="optname" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    optid, opcode, optname, status, info
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gamecenter.model.OpOperatorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from op_operator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from op_operator
    where optid = #{optid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from op_operator
    where optid = #{optid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gamecenter.model.OpOperatorExample" >
    delete from op_operator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gamecenter.model.OpOperator" >
    insert into op_operator (optid, opcode, optname, 
      status, info)
    values (#{optid,jdbcType=INTEGER}, #{opcode,jdbcType=VARCHAR}, #{optname,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gamecenter.model.OpOperator" >
    insert into op_operator
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="optid != null" >
        optid,
      </if>
      <if test="opcode != null" >
        opcode,
      </if>
      <if test="optname != null" >
        optname,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="info != null" >
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="optid != null" >
        #{optid,jdbcType=INTEGER},
      </if>
      <if test="opcode != null" >
        #{opcode,jdbcType=VARCHAR},
      </if>
      <if test="optname != null" >
        #{optname,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gamecenter.model.OpOperatorExample" resultType="java.lang.Integer" >
    select count(*) from op_operator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update op_operator
    <set >
      <if test="record.optid != null" >
        optid = #{record.optid,jdbcType=INTEGER},
      </if>
      <if test="record.opcode != null" >
        opcode = #{record.opcode,jdbcType=VARCHAR},
      </if>
      <if test="record.optname != null" >
        optname = #{record.optname,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.info != null" >
        info = #{record.info,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update op_operator
    set optid = #{record.optid,jdbcType=INTEGER},
      opcode = #{record.opcode,jdbcType=VARCHAR},
      optname = #{record.optname,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      info = #{record.info,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gamecenter.model.OpOperator" >
    update op_operator
    <set >
      <if test="opcode != null" >
        opcode = #{opcode,jdbcType=VARCHAR},
      </if>
      <if test="optname != null" >
        optname = #{optname,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
    </set>
    where optid = #{optid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gamecenter.model.OpOperator" >
    update op_operator
    set opcode = #{opcode,jdbcType=VARCHAR},
      optname = #{optname,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR}
    where optid = #{optid,jdbcType=INTEGER}
  </update>
</mapper>