<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gamecenter.mapper.OpOssPayDayreportMapper" >
  <resultMap id="BaseResultMap" type="com.gamecenter.model.OpOssPayDayreport" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="worldid" property="worldid" jdbcType="VARCHAR" />
    <result column="optid" property="optid" jdbcType="VARCHAR" />
    <result column="sfrom" property="sfrom" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="VARCHAR" />
    <result column="apa" property="apa" jdbcType="INTEGER" />
    <result column="newapa" property="newapa" jdbcType="INTEGER" />
    <result column="total" property="total" jdbcType="DOUBLE" />
    <result column="arpu" property="arpu" jdbcType="DOUBLE" />
    <result column="payper" property="payper" jdbcType="DOUBLE" />
    <result column="paycount" property="paycount" jdbcType="INTEGER" />
    <result column="maxpay" property="maxpay" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, appid, worldid, optid, sfrom, ctime, apa, newapa, total, arpu, payper, paycount, 
    maxpay
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gamecenter.model.OpOssPayDayreportExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from op_oss_pay_dayreport
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from op_oss_pay_dayreport
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from op_oss_pay_dayreport
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gamecenter.model.OpOssPayDayreportExample" >
    delete from op_oss_pay_dayreport
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gamecenter.model.OpOssPayDayreport" >
    insert into op_oss_pay_dayreport (id, appid, worldid, 
      optid, sfrom, ctime, 
      apa, newapa, total, 
      arpu, payper, paycount, 
      maxpay)
    values (#{id,jdbcType=INTEGER}, #{appid,jdbcType=VARCHAR}, #{worldid,jdbcType=VARCHAR}, 
      #{optid,jdbcType=VARCHAR}, #{sfrom,jdbcType=VARCHAR}, #{ctime,jdbcType=VARCHAR}, 
      #{apa,jdbcType=INTEGER}, #{newapa,jdbcType=INTEGER}, #{total,jdbcType=DOUBLE}, 
      #{arpu,jdbcType=DOUBLE}, #{payper,jdbcType=DOUBLE}, #{paycount,jdbcType=INTEGER}, 
      #{maxpay,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.gamecenter.model.OpOssPayDayreport" >
    insert into op_oss_pay_dayreport
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="worldid != null" >
        worldid,
      </if>
      <if test="optid != null" >
        optid,
      </if>
      <if test="sfrom != null" >
        sfrom,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="apa != null" >
        apa,
      </if>
      <if test="newapa != null" >
        newapa,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="arpu != null" >
        arpu,
      </if>
      <if test="payper != null" >
        payper,
      </if>
      <if test="paycount != null" >
        paycount,
      </if>
      <if test="maxpay != null" >
        maxpay,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="worldid != null" >
        #{worldid,jdbcType=VARCHAR},
      </if>
      <if test="optid != null" >
        #{optid,jdbcType=VARCHAR},
      </if>
      <if test="sfrom != null" >
        #{sfrom,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=VARCHAR},
      </if>
      <if test="apa != null" >
        #{apa,jdbcType=INTEGER},
      </if>
      <if test="newapa != null" >
        #{newapa,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        #{total,jdbcType=DOUBLE},
      </if>
      <if test="arpu != null" >
        #{arpu,jdbcType=DOUBLE},
      </if>
      <if test="payper != null" >
        #{payper,jdbcType=DOUBLE},
      </if>
      <if test="paycount != null" >
        #{paycount,jdbcType=INTEGER},
      </if>
      <if test="maxpay != null" >
        #{maxpay,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gamecenter.model.OpOssPayDayreportExample" resultType="java.lang.Integer" >
    select count(*) from op_oss_pay_dayreport
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update op_oss_pay_dayreport
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.appid != null" >
        appid = #{record.appid,jdbcType=VARCHAR},
      </if>
      <if test="record.worldid != null" >
        worldid = #{record.worldid,jdbcType=VARCHAR},
      </if>
      <if test="record.optid != null" >
        optid = #{record.optid,jdbcType=VARCHAR},
      </if>
      <if test="record.sfrom != null" >
        sfrom = #{record.sfrom,jdbcType=VARCHAR},
      </if>
      <if test="record.ctime != null" >
        ctime = #{record.ctime,jdbcType=VARCHAR},
      </if>
      <if test="record.apa != null" >
        apa = #{record.apa,jdbcType=INTEGER},
      </if>
      <if test="record.newapa != null" >
        newapa = #{record.newapa,jdbcType=INTEGER},
      </if>
      <if test="record.total != null" >
        total = #{record.total,jdbcType=DOUBLE},
      </if>
      <if test="record.arpu != null" >
        arpu = #{record.arpu,jdbcType=DOUBLE},
      </if>
      <if test="record.payper != null" >
        payper = #{record.payper,jdbcType=DOUBLE},
      </if>
      <if test="record.paycount != null" >
        paycount = #{record.paycount,jdbcType=INTEGER},
      </if>
      <if test="record.maxpay != null" >
        maxpay = #{record.maxpay,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update op_oss_pay_dayreport
    set id = #{record.id,jdbcType=INTEGER},
      appid = #{record.appid,jdbcType=VARCHAR},
      worldid = #{record.worldid,jdbcType=VARCHAR},
      optid = #{record.optid,jdbcType=VARCHAR},
      sfrom = #{record.sfrom,jdbcType=VARCHAR},
      ctime = #{record.ctime,jdbcType=VARCHAR},
      apa = #{record.apa,jdbcType=INTEGER},
      newapa = #{record.newapa,jdbcType=INTEGER},
      total = #{record.total,jdbcType=DOUBLE},
      arpu = #{record.arpu,jdbcType=DOUBLE},
      payper = #{record.payper,jdbcType=DOUBLE},
      paycount = #{record.paycount,jdbcType=INTEGER},
      maxpay = #{record.maxpay,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gamecenter.model.OpOssPayDayreport" >
    update op_oss_pay_dayreport
    <set >
      <if test="appid != null" >
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="worldid != null" >
        worldid = #{worldid,jdbcType=VARCHAR},
      </if>
      <if test="optid != null" >
        optid = #{optid,jdbcType=VARCHAR},
      </if>
      <if test="sfrom != null" >
        sfrom = #{sfrom,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=VARCHAR},
      </if>
      <if test="apa != null" >
        apa = #{apa,jdbcType=INTEGER},
      </if>
      <if test="newapa != null" >
        newapa = #{newapa,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=DOUBLE},
      </if>
      <if test="arpu != null" >
        arpu = #{arpu,jdbcType=DOUBLE},
      </if>
      <if test="payper != null" >
        payper = #{payper,jdbcType=DOUBLE},
      </if>
      <if test="paycount != null" >
        paycount = #{paycount,jdbcType=INTEGER},
      </if>
      <if test="maxpay != null" >
        maxpay = #{maxpay,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gamecenter.model.OpOssPayDayreport" >
    update op_oss_pay_dayreport
    set appid = #{appid,jdbcType=VARCHAR},
      worldid = #{worldid,jdbcType=VARCHAR},
      optid = #{optid,jdbcType=VARCHAR},
      sfrom = #{sfrom,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=VARCHAR},
      apa = #{apa,jdbcType=INTEGER},
      newapa = #{newapa,jdbcType=INTEGER},
      total = #{total,jdbcType=DOUBLE},
      arpu = #{arpu,jdbcType=DOUBLE},
      payper = #{payper,jdbcType=DOUBLE},
      paycount = #{paycount,jdbcType=INTEGER},
      maxpay = #{maxpay,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>