<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gamecenter.mapper.OpGameGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.gamecenter.model.OpGameGoods" >
    <id column="gid" property="gid" jdbcType="INTEGER" />
    <result column="gtype" property="gtype" jdbcType="VARCHAR" />
    <result column="gcode" property="gcode" jdbcType="VARCHAR" />
    <result column="gname" property="gname" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    gid, gtype, gcode, gname, info, appid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gamecenter.model.OpGameGoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from op_game_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from op_game_goods
    where gid = #{gid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from op_game_goods
    where gid = #{gid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gamecenter.model.OpGameGoodsExample" >
    delete from op_game_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gamecenter.model.OpGameGoods" >
    insert into op_game_goods (gid, gtype, gcode, 
      gname, info, appid)
    values (#{gid,jdbcType=INTEGER}, #{gtype,jdbcType=VARCHAR}, #{gcode,jdbcType=VARCHAR}, 
      #{gname,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, #{appid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gamecenter.model.OpGameGoods" >
    insert into op_game_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gid != null" >
        gid,
      </if>
      <if test="gtype != null" >
        gtype,
      </if>
      <if test="gcode != null" >
        gcode,
      </if>
      <if test="gname != null" >
        gname,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="appid != null" >
        appid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gid != null" >
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="gtype != null" >
        #{gtype,jdbcType=VARCHAR},
      </if>
      <if test="gcode != null" >
        #{gcode,jdbcType=VARCHAR},
      </if>
      <if test="gname != null" >
        #{gname,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gamecenter.model.OpGameGoodsExample" resultType="java.lang.Integer" >
    select count(*) from op_game_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update op_game_goods
    <set >
      <if test="record.gid != null" >
        gid = #{record.gid,jdbcType=INTEGER},
      </if>
      <if test="record.gtype != null" >
        gtype = #{record.gtype,jdbcType=VARCHAR},
      </if>
      <if test="record.gcode != null" >
        gcode = #{record.gcode,jdbcType=VARCHAR},
      </if>
      <if test="record.gname != null" >
        gname = #{record.gname,jdbcType=VARCHAR},
      </if>
      <if test="record.info != null" >
        info = #{record.info,jdbcType=VARCHAR},
      </if>
      <if test="record.appid != null" >
        appid = #{record.appid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update op_game_goods
    set gid = #{record.gid,jdbcType=INTEGER},
      gtype = #{record.gtype,jdbcType=VARCHAR},
      gcode = #{record.gcode,jdbcType=VARCHAR},
      gname = #{record.gname,jdbcType=VARCHAR},
      info = #{record.info,jdbcType=VARCHAR},
      appid = #{record.appid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gamecenter.model.OpGameGoods" >
    update op_game_goods
    <set >
      <if test="gtype != null" >
        gtype = #{gtype,jdbcType=VARCHAR},
      </if>
      <if test="gcode != null" >
        gcode = #{gcode,jdbcType=VARCHAR},
      </if>
      <if test="gname != null" >
        gname = #{gname,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        appid = #{appid,jdbcType=VARCHAR},
      </if>
    </set>
    where gid = #{gid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gamecenter.model.OpGameGoods" >
    update op_game_goods
    set gtype = #{gtype,jdbcType=VARCHAR},
      gcode = #{gcode,jdbcType=VARCHAR},
      gname = #{gname,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      appid = #{appid,jdbcType=VARCHAR}
    where gid = #{gid,jdbcType=INTEGER}
  </update>
</mapper>