<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gamecenter.mapper.OpOssQlzConsumeLogMapper" >
  <resultMap id="BaseResultMap" type="com.gamecenter.model.OpOssQlzConsumeLog" >
    <id column="did" property="did" jdbcType="INTEGER" />
    <result column="worldid" property="worldid" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="moneybefore" property="moneybefore" jdbcType="DOUBLE" />
    <result column="moneyafter" property="moneyafter" jdbcType="DOUBLE" />
    <result column="lostmoney" property="lostmoney" jdbcType="DOUBLE" />
    <result column="itemid" property="itemid" jdbcType="VARCHAR" />
    <result column="itemtype" property="itemtype" jdbcType="VARCHAR" />
    <result column="itemnum" property="itemnum" jdbcType="INTEGER" />
    <result column="itemname" property="itemname" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="rolename" property="rolename" jdbcType="VARCHAR" />
    <result column="addtime" property="addtime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    did, worldid, openid, moneybefore, moneyafter, lostmoney, itemid, itemtype, itemnum, 
    itemname, time, level, rolename, addtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gamecenter.model.OpOssQlzConsumeLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from op_oss_qlz_consume_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from op_oss_qlz_consume_log
    where did = #{did,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from op_oss_qlz_consume_log
    where did = #{did,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gamecenter.model.OpOssQlzConsumeLogExample" >
    delete from op_oss_qlz_consume_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gamecenter.model.OpOssQlzConsumeLog" >
    insert into op_oss_qlz_consume_log (did, worldid, openid, 
      moneybefore, moneyafter, lostmoney, 
      itemid, itemtype, itemnum, 
      itemname, time, level, 
      rolename, addtime)
    values (#{did,jdbcType=INTEGER}, #{worldid,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, 
      #{moneybefore,jdbcType=DOUBLE}, #{moneyafter,jdbcType=DOUBLE}, #{lostmoney,jdbcType=DOUBLE}, 
      #{itemid,jdbcType=VARCHAR}, #{itemtype,jdbcType=VARCHAR}, #{itemnum,jdbcType=INTEGER}, 
      #{itemname,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, 
      #{rolename,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gamecenter.model.OpOssQlzConsumeLog" >
    insert into op_oss_qlz_consume_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="did != null" >
        did,
      </if>
      <if test="worldid != null" >
        worldid,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="moneybefore != null" >
        moneybefore,
      </if>
      <if test="moneyafter != null" >
        moneyafter,
      </if>
      <if test="lostmoney != null" >
        lostmoney,
      </if>
      <if test="itemid != null" >
        itemid,
      </if>
      <if test="itemtype != null" >
        itemtype,
      </if>
      <if test="itemnum != null" >
        itemnum,
      </if>
      <if test="itemname != null" >
        itemname,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="rolename != null" >
        rolename,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="did != null" >
        #{did,jdbcType=INTEGER},
      </if>
      <if test="worldid != null" >
        #{worldid,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="moneybefore != null" >
        #{moneybefore,jdbcType=DOUBLE},
      </if>
      <if test="moneyafter != null" >
        #{moneyafter,jdbcType=DOUBLE},
      </if>
      <if test="lostmoney != null" >
        #{lostmoney,jdbcType=DOUBLE},
      </if>
      <if test="itemid != null" >
        #{itemid,jdbcType=VARCHAR},
      </if>
      <if test="itemtype != null" >
        #{itemtype,jdbcType=VARCHAR},
      </if>
      <if test="itemnum != null" >
        #{itemnum,jdbcType=INTEGER},
      </if>
      <if test="itemname != null" >
        #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gamecenter.model.OpOssQlzConsumeLogExample" resultType="java.lang.Integer" >
    select count(*) from op_oss_qlz_consume_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update op_oss_qlz_consume_log
    <set >
      <if test="record.did != null" >
        did = #{record.did,jdbcType=INTEGER},
      </if>
      <if test="record.worldid != null" >
        worldid = #{record.worldid,jdbcType=VARCHAR},
      </if>
      <if test="record.openid != null" >
        openid = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.moneybefore != null" >
        moneybefore = #{record.moneybefore,jdbcType=DOUBLE},
      </if>
      <if test="record.moneyafter != null" >
        moneyafter = #{record.moneyafter,jdbcType=DOUBLE},
      </if>
      <if test="record.lostmoney != null" >
        lostmoney = #{record.lostmoney,jdbcType=DOUBLE},
      </if>
      <if test="record.itemid != null" >
        itemid = #{record.itemid,jdbcType=VARCHAR},
      </if>
      <if test="record.itemtype != null" >
        itemtype = #{record.itemtype,jdbcType=VARCHAR},
      </if>
      <if test="record.itemnum != null" >
        itemnum = #{record.itemnum,jdbcType=INTEGER},
      </if>
      <if test="record.itemname != null" >
        itemname = #{record.itemname,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null" >
        level = #{record.level,jdbcType=INTEGER},
      </if>
      <if test="record.rolename != null" >
        rolename = #{record.rolename,jdbcType=VARCHAR},
      </if>
      <if test="record.addtime != null" >
        addtime = #{record.addtime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update op_oss_qlz_consume_log
    set did = #{record.did,jdbcType=INTEGER},
      worldid = #{record.worldid,jdbcType=VARCHAR},
      openid = #{record.openid,jdbcType=VARCHAR},
      moneybefore = #{record.moneybefore,jdbcType=DOUBLE},
      moneyafter = #{record.moneyafter,jdbcType=DOUBLE},
      lostmoney = #{record.lostmoney,jdbcType=DOUBLE},
      itemid = #{record.itemid,jdbcType=VARCHAR},
      itemtype = #{record.itemtype,jdbcType=VARCHAR},
      itemnum = #{record.itemnum,jdbcType=INTEGER},
      itemname = #{record.itemname,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=VARCHAR},
      level = #{record.level,jdbcType=INTEGER},
      rolename = #{record.rolename,jdbcType=VARCHAR},
      addtime = #{record.addtime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gamecenter.model.OpOssQlzConsumeLog" >
    update op_oss_qlz_consume_log
    <set >
      <if test="worldid != null" >
        worldid = #{worldid,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="moneybefore != null" >
        moneybefore = #{moneybefore,jdbcType=DOUBLE},
      </if>
      <if test="moneyafter != null" >
        moneyafter = #{moneyafter,jdbcType=DOUBLE},
      </if>
      <if test="lostmoney != null" >
        lostmoney = #{lostmoney,jdbcType=DOUBLE},
      </if>
      <if test="itemid != null" >
        itemid = #{itemid,jdbcType=VARCHAR},
      </if>
      <if test="itemtype != null" >
        itemtype = #{itemtype,jdbcType=VARCHAR},
      </if>
      <if test="itemnum != null" >
        itemnum = #{itemnum,jdbcType=INTEGER},
      </if>
      <if test="itemname != null" >
        itemname = #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="rolename != null" >
        rolename = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where did = #{did,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gamecenter.model.OpOssQlzConsumeLog" >
    update op_oss_qlz_consume_log
    set worldid = #{worldid,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      moneybefore = #{moneybefore,jdbcType=DOUBLE},
      moneyafter = #{moneyafter,jdbcType=DOUBLE},
      lostmoney = #{lostmoney,jdbcType=DOUBLE},
      itemid = #{itemid,jdbcType=VARCHAR},
      itemtype = #{itemtype,jdbcType=VARCHAR},
      itemnum = #{itemnum,jdbcType=INTEGER},
      itemname = #{itemname,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      rolename = #{rolename,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=VARCHAR}
    where did = #{did,jdbcType=INTEGER}
  </update>
</mapper>