<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gamecenter.mapper.OpOssUserDayreportMapper" >
  <resultMap id="BaseResultMap" type="com.gamecenter.model.OpOssUserDayreport" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="worldid" property="worldid" jdbcType="VARCHAR" />
    <result column="optid" property="optid" jdbcType="VARCHAR" />
    <result column="sfrom" property="sfrom" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="VARCHAR" />
    <result column="regnum" property="regnum" jdbcType="INTEGER" />
    <result column="createnum" property="createnum" jdbcType="INTEGER" />
    <result column="dau" property="dau" jdbcType="INTEGER" />
    <result column="newdau" property="newdau" jdbcType="INTEGER" />
    <result column="acu" property="acu" jdbcType="INTEGER" />
    <result column="pcu" property="pcu" jdbcType="INTEGER" />
    <result column="maxtime" property="maxtime" jdbcType="INTEGER" />
    <result column="avgtime" property="avgtime" jdbcType="INTEGER" />
    <result column="avglogin" property="avglogin" jdbcType="INTEGER" />
    <result column="createper" property="createper" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, appid, worldid, optid, sfrom, ctime, regnum, createnum, dau, newdau, acu, pcu, 
    maxtime, avgtime, avglogin, createper
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gamecenter.model.OpOssUserDayreportExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from op_oss_user_dayreport
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from op_oss_user_dayreport
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from op_oss_user_dayreport
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gamecenter.model.OpOssUserDayreportExample" >
    delete from op_oss_user_dayreport
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gamecenter.model.OpOssUserDayreport" >
    insert into op_oss_user_dayreport (id, appid, worldid, 
      optid, sfrom, ctime, 
      regnum, createnum, dau, 
      newdau, acu, pcu, maxtime, 
      avgtime, avglogin, createper
      )
    values (#{id,jdbcType=INTEGER}, #{appid,jdbcType=VARCHAR}, #{worldid,jdbcType=VARCHAR}, 
      #{optid,jdbcType=VARCHAR}, #{sfrom,jdbcType=VARCHAR}, #{ctime,jdbcType=VARCHAR}, 
      #{regnum,jdbcType=INTEGER}, #{createnum,jdbcType=INTEGER}, #{dau,jdbcType=INTEGER}, 
      #{newdau,jdbcType=INTEGER}, #{acu,jdbcType=INTEGER}, #{pcu,jdbcType=INTEGER}, #{maxtime,jdbcType=INTEGER}, 
      #{avgtime,jdbcType=INTEGER}, #{avglogin,jdbcType=INTEGER}, #{createper,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gamecenter.model.OpOssUserDayreport" >
    insert into op_oss_user_dayreport
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="worldid != null" >
        worldid,
      </if>
      <if test="optid != null" >
        optid,
      </if>
      <if test="sfrom != null" >
        sfrom,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="regnum != null" >
        regnum,
      </if>
      <if test="createnum != null" >
        createnum,
      </if>
      <if test="dau != null" >
        dau,
      </if>
      <if test="newdau != null" >
        newdau,
      </if>
      <if test="acu != null" >
        acu,
      </if>
      <if test="pcu != null" >
        pcu,
      </if>
      <if test="maxtime != null" >
        maxtime,
      </if>
      <if test="avgtime != null" >
        avgtime,
      </if>
      <if test="avglogin != null" >
        avglogin,
      </if>
      <if test="createper != null" >
        createper,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="worldid != null" >
        #{worldid,jdbcType=VARCHAR},
      </if>
      <if test="optid != null" >
        #{optid,jdbcType=VARCHAR},
      </if>
      <if test="sfrom != null" >
        #{sfrom,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=VARCHAR},
      </if>
      <if test="regnum != null" >
        #{regnum,jdbcType=INTEGER},
      </if>
      <if test="createnum != null" >
        #{createnum,jdbcType=INTEGER},
      </if>
      <if test="dau != null" >
        #{dau,jdbcType=INTEGER},
      </if>
      <if test="newdau != null" >
        #{newdau,jdbcType=INTEGER},
      </if>
      <if test="acu != null" >
        #{acu,jdbcType=INTEGER},
      </if>
      <if test="pcu != null" >
        #{pcu,jdbcType=INTEGER},
      </if>
      <if test="maxtime != null" >
        #{maxtime,jdbcType=INTEGER},
      </if>
      <if test="avgtime != null" >
        #{avgtime,jdbcType=INTEGER},
      </if>
      <if test="avglogin != null" >
        #{avglogin,jdbcType=INTEGER},
      </if>
      <if test="createper != null" >
        #{createper,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gamecenter.model.OpOssUserDayreportExample" resultType="java.lang.Integer" >
    select count(*) from op_oss_user_dayreport
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update op_oss_user_dayreport
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.appid != null" >
        appid = #{record.appid,jdbcType=VARCHAR},
      </if>
      <if test="record.worldid != null" >
        worldid = #{record.worldid,jdbcType=VARCHAR},
      </if>
      <if test="record.optid != null" >
        optid = #{record.optid,jdbcType=VARCHAR},
      </if>
      <if test="record.sfrom != null" >
        sfrom = #{record.sfrom,jdbcType=VARCHAR},
      </if>
      <if test="record.ctime != null" >
        ctime = #{record.ctime,jdbcType=VARCHAR},
      </if>
      <if test="record.regnum != null" >
        regnum = #{record.regnum,jdbcType=INTEGER},
      </if>
      <if test="record.createnum != null" >
        createnum = #{record.createnum,jdbcType=INTEGER},
      </if>
      <if test="record.dau != null" >
        dau = #{record.dau,jdbcType=INTEGER},
      </if>
      <if test="record.newdau != null" >
        newdau = #{record.newdau,jdbcType=INTEGER},
      </if>
      <if test="record.acu != null" >
        acu = #{record.acu,jdbcType=INTEGER},
      </if>
      <if test="record.pcu != null" >
        pcu = #{record.pcu,jdbcType=INTEGER},
      </if>
      <if test="record.maxtime != null" >
        maxtime = #{record.maxtime,jdbcType=INTEGER},
      </if>
      <if test="record.avgtime != null" >
        avgtime = #{record.avgtime,jdbcType=INTEGER},
      </if>
      <if test="record.avglogin != null" >
        avglogin = #{record.avglogin,jdbcType=INTEGER},
      </if>
      <if test="record.createper != null" >
        createper = #{record.createper,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update op_oss_user_dayreport
    set id = #{record.id,jdbcType=INTEGER},
      appid = #{record.appid,jdbcType=VARCHAR},
      worldid = #{record.worldid,jdbcType=VARCHAR},
      optid = #{record.optid,jdbcType=VARCHAR},
      sfrom = #{record.sfrom,jdbcType=VARCHAR},
      ctime = #{record.ctime,jdbcType=VARCHAR},
      regnum = #{record.regnum,jdbcType=INTEGER},
      createnum = #{record.createnum,jdbcType=INTEGER},
      dau = #{record.dau,jdbcType=INTEGER},
      newdau = #{record.newdau,jdbcType=INTEGER},
      acu = #{record.acu,jdbcType=INTEGER},
      pcu = #{record.pcu,jdbcType=INTEGER},
      maxtime = #{record.maxtime,jdbcType=INTEGER},
      avgtime = #{record.avgtime,jdbcType=INTEGER},
      avglogin = #{record.avglogin,jdbcType=INTEGER},
      createper = #{record.createper,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gamecenter.model.OpOssUserDayreport" >
    update op_oss_user_dayreport
    <set >
      <if test="appid != null" >
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="worldid != null" >
        worldid = #{worldid,jdbcType=VARCHAR},
      </if>
      <if test="optid != null" >
        optid = #{optid,jdbcType=VARCHAR},
      </if>
      <if test="sfrom != null" >
        sfrom = #{sfrom,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=VARCHAR},
      </if>
      <if test="regnum != null" >
        regnum = #{regnum,jdbcType=INTEGER},
      </if>
      <if test="createnum != null" >
        createnum = #{createnum,jdbcType=INTEGER},
      </if>
      <if test="dau != null" >
        dau = #{dau,jdbcType=INTEGER},
      </if>
      <if test="newdau != null" >
        newdau = #{newdau,jdbcType=INTEGER},
      </if>
      <if test="acu != null" >
        acu = #{acu,jdbcType=INTEGER},
      </if>
      <if test="pcu != null" >
        pcu = #{pcu,jdbcType=INTEGER},
      </if>
      <if test="maxtime != null" >
        maxtime = #{maxtime,jdbcType=INTEGER},
      </if>
      <if test="avgtime != null" >
        avgtime = #{avgtime,jdbcType=INTEGER},
      </if>
      <if test="avglogin != null" >
        avglogin = #{avglogin,jdbcType=INTEGER},
      </if>
      <if test="createper != null" >
        createper = #{createper,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gamecenter.model.OpOssUserDayreport" >
    update op_oss_user_dayreport
    set appid = #{appid,jdbcType=VARCHAR},
      worldid = #{worldid,jdbcType=VARCHAR},
      optid = #{optid,jdbcType=VARCHAR},
      sfrom = #{sfrom,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=VARCHAR},
      regnum = #{regnum,jdbcType=INTEGER},
      createnum = #{createnum,jdbcType=INTEGER},
      dau = #{dau,jdbcType=INTEGER},
      newdau = #{newdau,jdbcType=INTEGER},
      acu = #{acu,jdbcType=INTEGER},
      pcu = #{pcu,jdbcType=INTEGER},
      maxtime = #{maxtime,jdbcType=INTEGER},
      avgtime = #{avgtime,jdbcType=INTEGER},
      avglogin = #{avglogin,jdbcType=INTEGER},
      createper = #{createper,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>